.gitattributes

*.so
*.o
*.a

manual/manual.html

testes/time.txt
testes/time-debug.txt

testes/libs/all

temp
lua

# balus's config
cmake-build-debug
.idea/
.vscode/
.ccls-cache
compile_commands.json
demos/
*.lua
*.luac
luac.out
